<a href="https://colab.research.google.com/github/adarshkuthuru/311-service-Data-Analysis-Project/blob/main/DHL_MVP_standalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import all the libraries

In [39]:
import pandas as pd
import math
import numpy as np

#to import files from google drive
from pydrive.auth import GoogleAuth #!pip install -U -q PyDrive
from pydrive.drive import GoogleDrive
from google.colab import auth #!pip install google-colab
from oauth2client.client import GoogleCredentials
from google.colab import drive

Upload file on Google Drive and authorize

In [40]:
#drive.mount('/content/gdrive') #comment out after running once
xls=pd.ExcelFile('/content/gdrive/My Drive/Colab Notebooks/_Form.xlsx') #,sheet_name='1. Data Model Raw Attr') #, skiprows = range(2,150))#, usecols = "B:L")
df = xls.parse('1. Data Model Raw Attr', skiprows=3, index_col=None, na_values=['NA'])

Print and check the dataframe

In [41]:
df.head()
#print(df.shape)

   Unnamed: 0  S. No.  Section  ...      Loan 1 Loan 2  Unnamed: 13
0         NaN     NaN      NaN  ...  1008396376    NaN          NaN
1         NaN     1.0      1.0  ...         NaN    NaN          NaN
2         NaN     2.0      1.0  ...         NaN    NaN          NaN
3         NaN     3.0      1.0  ...         NaN    NaN          NaN
4         NaN     4.0      1.0  ...       False    NaN          NaN

[5 rows x 14 columns]

Drop irrelevant variables, transpose the dataframe and write csv file

In [42]:
df1=df[['Variable Name','Loan 1', 'Loan 2']]
df2= df1.set_index('Variable Name').T
df2.columns = df2.columns.str.replace("[';','.']", "") # replace special characters from column names
df2.columns = df2.columns.str.replace("[#,@,&,' ',',',(,)]", "_")  # replace special characters from column names

df2.to_csv('/content/gdrive/My Drive/Colab Notebooks/Input Data For Python.csv')
#df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Loan 1 to Loan 2
Columns: 174 entries, CLNT_LOAN_APLN_NBR to bankruptcy_in_last_7years_dec
dtypes: datetime64[ns](1), object(173)
memory usage: 2.7+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

Section 1 to 5 code:

In [43]:
from pandas.core.arrays.sparse import dtype

#add new columns for the rule passes
#df2=df2.drop(['rule_1_1_1_pass','rule_1_1_2_pass'],axis=1)
#df2[['rule_1_1_1_pass','rule_1_1_2_pass']]=pd.DataFrame([[pd.NA,pd.NA]], index=df2.index, dtype=bool)
# df2['rule_1_1_1_pass'] = np.where(math.isnan(df2['Application Decline Date']), True, False)
# df2['rule_1_1_2_pass'] = np.where(df2['Application Decline Date']==np.nan, False, True)
#df2.head()
df3 = df2.copy()
#df3.loc[df3.Application_Decline_Date == np.nan, 'rule_1_1_1_pass'] = True
df3.head()

Variable Name CLNT_LOAN_APLN_NBR  ... bankruptcy_in_last_7years_dec
Loan 1                1008396376  ...                           YES
Loan 2                       NaN  ...                           NaN

[2 rows x 174 columns]

In [ ]:
#type(df2['rule_1_1_1_pass'].iloc[1])

pandas._libs.missing.NAType

In [ ]:
#df3.head()

NameError: ignored

In [49]:
import copy
headers = columns=list(df2)
new_df = pd.DataFrame()

for index, row in df2.iterrows():
    new_row = copy.deepcopy(row)
    new_dict= new_row.to_dict()
    if pd.isna(row['Application_Decline_Date'])==True:
      new_dict['rule_1_1_1_pass'] = 'True'
      #new_dict['rule_1_1_2_pass']= False
    else:
      #new_dict['rule_1_1_1_pass'] = False
      new_dict['rule_1_1_2_pass']='True'
    print(new_dict)
    new_df=new_df.append(new_dict, ignore_index=True)

new_df.head()

{'CLNT_LOAN_APLN_NBR': 1008396376, 'Application_Decline_Date': nan, 'Declined_Application_Review': nan, 'Sharepoint_site_updated': nan, 'Income_decreased': False, 'Credit_score_decreased': False, 'Conditions_added': 'YES', 'Omitted_debts_decreased': False, 'NO_UW_CASE__Bankruptcy_Foreclosure_Employment_': nan, 'UW_Case': nan, 'Extenuating_circumstances': nan, 'Verifying_documentation': nan, 'Credit_Score': 707, 'asset_reserves': True, 'Asset_Title_Name_1003_Application': True, 'Asset_Title_Report_LOE': True, 'Credit_Report_1003_Application': 'Yes', 'Credit_Report_1003_Application_LOE': 'Yes', 'PRPRTY_ST_CDE': 'FL', 'PRPRTY_ST_CDE_other_attributes': nan, 'mortgage_meets_guidelines': 'Ok', 'SSN_consistent': 'Yes', 'Liabilities_consistent': 'Yes', 'alerts_clear': 'Yes', 'inquiries_addressed': 'None noted', 'additional_address_match': 'None noted', 'Additional_properties_in_the_last_12_months': False, 'Address_Match': 'Yes', 'First_Mtg_Eligible': 'Yes', 'ARM_ind': nan, 'payment_accurate': True, 'online_calculator': True, 'Mortgage_modification': nan, 'modification_docs': 'YES', 'def_balance_CLTV': 'YES', 'Mortgage_Statement_Exp_Date': 'YES', 'tax_calc_proc': 'Assumed Yes', 'insurance_calc_proc': 'Assumed Yes', 'date_calc': Timestamp('2021-05-24 00:00:00'), 'Address_match': 'YES', 'Borrower_name': 'YES', 'Eligible_Property_type': 'YES', 'Date_of_expiraion_of_policy': 'YES', 'windstorm_HOI_included': nan, 'separate_windstorm_policy': nan, 'HOI_agent_confirmation': nan, 'Non_Retirement_Type_Loan/Deduction_NOT_added_as_debt': nan, 'Non_Retirement_Type_Loan/Deduction_added_as_debt': 'YES', 'LOE_non_retirement_loan_deduc': 'YES', 'INCM_TYP_CDE': 'Base Inc', 'SELF_EMPLD_IND': False, 'Income_match_worksheet': 'YES', 'Income_worksheet_uploaded': 'YES', 'Income_docs_within_expiration_matrix_range': 'YES', 'Income_Attestation': 'YES', 'FICO_INCM_TYP_CDE_SELF_EMPLD_IND': '707; Base Inc; 0', 'Bank_Statements': nan, 'Assests_Minimum_reserve_amount': nan, 'DTI': 0.38242905, 'Debt_included_in_DTI': 'Yes, 38.24% 30.54%', 'NBS_debt_included_DTI': nan, 'alimony_childsupport_indicator': nan, 'alimony_childsupport_included_in_income': nan, 'HOA_fees_applicable': nan, 'HOA_fees_included': nan, 'documentation_provided': nan, 'APRS_MTHD_REQR_TXT': 'AVMCoreLogicPass/PCR', 'product_FSD_meet_guidelines?': 'YES', 'app_addr_match_appraisal_addr': 'YES', 'Property_match_title_1003': 'YES', 'address_validated': 'YES', 'valid_deferred_maint_or_ext_obs': 'NO', '<lot_size>': 'NO', 'CLTV': 86.374228, 'DVI_obtained': nan, 'Borrowers_listed_on_Loan_Safe': 'YES', 'score_\nfindings_mediated_accord_with_score': '525;\n No high risk findings', 'SSN': 'OK', 'subject_property>75miles_employer': 'OK', 'occupancy_concerns': 'OK', 'foreclosures': 'OK', 'bankruptcies': 'OK', 'addtional_properties_owned': 'OK', 'mailing_address_dispcrepcnies': 'OK', 'chain_of_title_discrepencies': 'OK', 'other_discrepencies': 'OK', 'borrower_current_owner': 'YES', 'all_borrower_on_title': 'YES', 'relationship_status_confirmed': 'YES', 'outstanding_judgement_liens': 'YES', 'title_report_date': nan, 'title_report_condition_added': nan, 'vesting_indicate_property_ineligible': 'NO', 'third_part_title_deceased': nan, 'escrow_ind': nan, 'LIEN_POS_CDE_LIEN_POS_DSC': 'Second Lien', 'tax_cert_provided': nan, 'proof_deliquent_taxes_paid': nan, 'vesting_match_title_info': 'YES', 'open_home_equity': nan, 'home_equity_loans_in_last_12_months': nan, 'Homestead_question': nan, 'multiple_lots/parcels': nan, 'closing_disclosure': nan, 'all_property_types_confirmed': 'Yes', 'Floodcert_not_required_<state>': 'No', 'floodcert_match_adress': 'Yes', 'floodcert_for_lifeofloan': 'Yes', 'FLD_ZONE_NM': 'X', 'flood_disclosures_sent': nan, nan: nan, 'Fl_ins_adr_matched_app_add': nan, 'Min_OneBorrower_onPolicy': nan, 'Property_type_eligiable': nan, 'flood_Cal_in_NetOxygen_savable': nan, 'Poligy_effecive_30dayspostfinalapproval': nan, 'Fl_inr_meet_requirement': nan, 'Flood_Ins_Escrowed': nan, 'VVOE?': 'Yes', '<state>': 'YES', 'Addres_Match': 'YES', 'Photo_ID_Address_Address_on_NetOxygen': True, 'ZIP_on_Photo_ID_ZIP_of_Address_on_NetOxygen': True, 'City_on_Photo_ID_City_of_Address_on_NetOxygen': True, 'Explanation_for_discrepancy': True, 'DOB_on_Photo_ID_DOB_on_1003': 'YES', 'Explanation_for_mismatch': True, 'Name_on_DL_Name_on_1003': 'YES', 'Reason_for_discrepancy': True, 'Nationality': True, 'Resident_Alien_Card': nan, 'Category_DL_State_ID': 'YES', 'Type_DL_State_ID': 'YES', 'PRPRTY_TYP_DSC': 'A - Single Family', 'not_under_construction': nan, 'not_conotel': nan, 'monthly_due': nan, 'NO_Trust_on_File': nan, 'title_has_trust': nan, 'OCC_TYP_NM': 'Owner Occupied', 'HPML_loans': False, 'Residual_income_calc': 'YES', 'Fails_addressed': 'YES', 'NTB_More_Than_5K': 'Will review at final underwrite', 'NoHighCost_being_True': 'No', 'NoHighPr_being_True': 'Yes, MFJ, Family size of 4 and 1,955 sq ft on AVM', 'HPML_being_False_OR_First_lien_being_False': 'Y', 'HPML_being_True_and_First_lien_being_True_escrowacct_exist': True, 'Compliance_ran_with5daysofApproval': True, 'income_verified_': True, 'assets_verified': True, '<date_on_which_conditions_added>': 'YES', 'UW_review_dec': 'YES', 'Primary_residence_dec': 'YES', 'non_disclosed_credit_dec': 'YES', 'priority_over_first_mortgage_lien': 'YES', 'cosigner_or_guarantor_on_any_debt_not_disclosed_dec': 'YES', 'outstanding_judgements_dec': 'YES', 'delinquent_or_default_on_fed_debt_dec': 'YES', 'personal_liability_in_a_lawsuit_dec': 'YES', 'conveyed_title_in_lieu_of_foreclosure_in_past_7years_dec': 'YES', 'property_sold_for_less_than_outstanding_mortgage_due_dec': 'YES', 'foreclosure_in_last_7years_dec': 'YES', 'bankruptcy_in_last_7years_dec': 'YES', 'rule_1_1_1_pass': 'True'}
{'CLNT_LOAN_APLN_NBR': NaT, 'Application_Decline_Date': NaT, 'Declined_Application_Review': NaT, 'Sharepoint_site_updated': NaT, 'Income_decreased': NaT, 'Credit_score_decreased': NaT, 'Conditions_added': NaT, 'Omitted_debts_decreased': NaT, 'NO_UW_CASE__Bankruptcy_Foreclosure_Employment_': NaT, 'UW_Case': NaT, 'Extenuating_circumstances': NaT, 'Verifying_documentation': NaT, 'Credit_Score': NaT, 'asset_reserves': NaT, 'Asset_Title_Name_1003_Application': NaT, 'Asset_Title_Report_LOE': NaT, 'Credit_Report_1003_Application': NaT, 'Credit_Report_1003_Application_LOE': NaT, 'PRPRTY_ST_CDE': NaT, 'PRPRTY_ST_CDE_other_attributes': NaT, 'mortgage_meets_guidelines': NaT, 'SSN_consistent': NaT, 'Liabilities_consistent': NaT, 'alerts_clear': NaT, 'inquiries_addressed': NaT, 'additional_address_match': NaT, 'Additional_properties_in_the_last_12_months': NaT, 'Address_Match': NaT, 'First_Mtg_Eligible': NaT, 'ARM_ind': NaT, 'payment_accurate': NaT, 'online_calculator': NaT, 'Mortgage_modification': NaT, 'modification_docs': NaT, 'def_balance_CLTV': NaT, 'Mortgage_Statement_Exp_Date': NaT, 'tax_calc_proc': NaT, 'insurance_calc_proc': NaT, 'date_calc': NaT, 'Address_match': NaT, 'Borrower_name': NaT, 'Eligible_Property_type': NaT, 'Date_of_expiraion_of_policy': NaT, 'windstorm_HOI_included': NaT, 'separate_windstorm_policy': NaT, 'HOI_agent_confirmation': NaT, 'Non_Retirement_Type_Loan/Deduction_NOT_added_as_debt': NaT, 'Non_Retirement_Type_Loan/Deduction_added_as_debt': NaT, 'LOE_non_retirement_loan_deduc': NaT, 'INCM_TYP_CDE': NaT, 'SELF_EMPLD_IND': NaT, 'Income_match_worksheet': NaT, 'Income_worksheet_uploaded': NaT, 'Income_docs_within_expiration_matrix_range': NaT, 'Income_Attestation': NaT, 'FICO_INCM_TYP_CDE_SELF_EMPLD_IND': NaT, 'Bank_Statements': NaT, 'Assests_Minimum_reserve_amount': NaT, 'DTI': NaT, 'Debt_included_in_DTI': NaT, 'NBS_debt_included_DTI': NaT, 'alimony_childsupport_indicator': NaT, 'alimony_childsupport_included_in_income': NaT, 'HOA_fees_applicable': NaT, 'HOA_fees_included': NaT, 'documentation_provided': NaT, 'APRS_MTHD_REQR_TXT': NaT, 'product_FSD_meet_guidelines?': NaT, 'app_addr_match_appraisal_addr': NaT, 'Property_match_title_1003': NaT, 'address_validated': NaT, 'valid_deferred_maint_or_ext_obs': NaT, '<lot_size>': NaT, 'CLTV': NaT, 'DVI_obtained': NaT, 'Borrowers_listed_on_Loan_Safe': NaT, 'score_\nfindings_mediated_accord_with_score': NaT, 'SSN': NaT, 'subject_property>75miles_employer': NaT, 'occupancy_concerns': NaT, 'foreclosures': NaT, 'bankruptcies': NaT, 'addtional_properties_owned': NaT, 'mailing_address_dispcrepcnies': NaT, 'chain_of_title_discrepencies': NaT, 'other_discrepencies': NaT, 'borrower_current_owner': NaT, 'all_borrower_on_title': NaT, 'relationship_status_confirmed': NaT, 'outstanding_judgement_liens': NaT, 'title_report_date': NaT, 'title_report_condition_added': NaT, 'vesting_indicate_property_ineligible': NaT, 'third_part_title_deceased': NaT, 'escrow_ind': NaT, 'LIEN_POS_CDE_LIEN_POS_DSC': NaT, 'tax_cert_provided': NaT, 'proof_deliquent_taxes_paid': NaT, 'vesting_match_title_info': NaT, 'open_home_equity': NaT, 'home_equity_loans_in_last_12_months': NaT, 'Homestead_question': NaT, 'multiple_lots/parcels': NaT, 'closing_disclosure': NaT, 'all_property_types_confirmed': NaT, 'Floodcert_not_required_<state>': NaT, 'floodcert_match_adress': NaT, 'floodcert_for_lifeofloan': NaT, 'FLD_ZONE_NM': NaT, 'flood_disclosures_sent': NaT, nan: NaT, 'Fl_ins_adr_matched_app_add': NaT, 'Min_OneBorrower_onPolicy': NaT, 'Property_type_eligiable': NaT, 'flood_Cal_in_NetOxygen_savable': NaT, 'Poligy_effecive_30dayspostfinalapproval': NaT, 'Fl_inr_meet_requirement': NaT, 'Flood_Ins_Escrowed': NaT, 'VVOE?': NaT, '<state>': NaT, 'Addres_Match': NaT, 'Photo_ID_Address_Address_on_NetOxygen': NaT, 'ZIP_on_Photo_ID_ZIP_of_Address_on_NetOxygen': NaT, 'City_on_Photo_ID_City_of_Address_on_NetOxygen': NaT, 'Explanation_for_discrepancy': NaT, 'DOB_on_Photo_ID_DOB_on_1003': NaT, 'Explanation_for_mismatch': NaT, 'Name_on_DL_Name_on_1003': NaT, 'Reason_for_discrepancy': NaT, 'Nationality': NaT, 'Resident_Alien_Card': NaT, 'Category_DL_State_ID': NaT, 'Type_DL_State_ID': NaT, 'PRPRTY_TYP_DSC': NaT, 'not_under_construction': NaT, 'not_conotel': NaT, 'monthly_due': NaT, 'NO_Trust_on_File': NaT, 'title_has_trust': NaT, 'OCC_TYP_NM': NaT, 'HPML_loans': NaT, 'Residual_income_calc': NaT, 'Fails_addressed': NaT, 'NTB_More_Than_5K': NaT, 'NoHighCost_being_True': NaT, 'NoHighPr_being_True': NaT, 'HPML_being_False_OR_First_lien_being_False': NaT, 'HPML_being_True_and_First_lien_being_True_escrowacct_exist': NaT, 'Compliance_ran_with5daysofApproval': NaT, 'income_verified_': NaT, 'assets_verified': NaT, '<date_on_which_conditions_added>': NaT, 'UW_review_dec': NaT, 'Primary_residence_dec': NaT, 'non_disclosed_credit_dec': NaT, 'priority_over_first_mortgage_lien': NaT, 'cosigner_or_guarantor_on_any_debt_not_disclosed_dec': NaT, 'outstanding_judgements_dec': NaT, 'delinquent_or_default_on_fed_debt_dec': NaT, 'personal_liability_in_a_lawsuit_dec': NaT, 'conveyed_title_in_lieu_of_foreclosure_in_past_7years_dec': NaT, 'property_sold_for_less_than_outstanding_mortgage_due_dec': NaT, 'foreclosure_in_last_7years_dec': NaT, 'bankruptcy_in_last_7years_dec': NaT, 'rule_1_1_1_pass': 'True'}

  CLNT_LOAN_APLN_NBR  ... rule_1_1_1_pass
0       1008396376.0  ...            True
1                NaT  ...            True

[2 rows x 165 columns]

In [ ]:
#df2.loc[df2["Application Decline Date"]=='NaN', "rule_1_1_1_pass"] = True

for i in range(1,2): #Loan-1: current focus

  #Rule 1.1:
  if math.isnan(df3['Application_Decline_Date'][i])==True:
  #if df3['Application Decline Date'][i]==np.nan:
  
    #df3['rule_1_1_1_pass'][i]=1
    df3['rule_1_1_1_pass'].iloc[1]='True'
  else:
    #df3['rule_1_1_2_pass'][i]=1
    df3['rule_1_1_2_pass'].iloc[1]='True'

df3.head()

#print(df2['rule_1_1_2_pass'][i])

#Subrule 1.1.2:
# if rule_1_1_2_pass==True:

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Variable Name CLNT_LOAN_APLN_NBR  ... rule_1_1_2_pass
Loan 1                1008396376  ...            <NA>
Loan 2                       NaN  ...            <NA>

[2 rows x 176 columns]

In [ ]:
df3['rule_1_1_1_pass'].iloc[1]=True
df3.head()
#type(df2['Application Decline Date'].iloc[1])
#type(math.isnan(df2['Application Decline Date'].iloc[1]))

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Variable Name CLNT_LOAN_APLN_NBR  ... rule_1_1_2_pass
Loan 1                1008396376  ...           False
Loan 2                       NaN  ...           False

[2 rows x 176 columns]